<section id="problem" class="problem">
  <div class="problem__content">
    <h2>problem test content</h2>
  </div>
</section>

<style>
  .problem {
    position: relative;
    min-height: 150svh;
  }

  .problem__content {
    position: sticky;
    top: 0;
    height: 100svh;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: system-ui, sans-serif;
  }

  .problem__content h2 {
    font-size: clamp(1.25rem, 4vw, 2.25rem);
    font-weight: 700;
  }
</style>
